@media print{
  .card, .title {
    display: none !important;
  }
    
  .card.print-box{
    width: 500px !important;
    height: 700px  !important;
    display: block !important;
    box-shadow: none;
    margin-left:15% !important;
    margin-top: 5% !important;
  }

  .card.print-box .card-body {
    width: 500px !important;
    height: 500px !important;
  }

  .card.print-box .card-header {
    width: 500px !important;
    font-size: 25px !important;
    text-align: center;
  }

  .option-menu{
    display: none !important;
  }

  * {
    -webkit-print-color-adjust: exact;
  }
}
