.card-list {
  width:100%;
  margin-top:30px;
  margin-left: 20px;
}

.card {
  max-width: 250px;
  width: 350px;
  padding-bottom: 20;
  box-shadow: 0 4px 6px 0 lightgray;
  -webkit-box-shadow: 0 4px 6px 0 lightgray;
  -moz-box-shadow: 0 4px 6px 0 lightgray;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  border-radius: 5px;
  background-color: #FFF;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  box-shadow: 0px 5px 0px lightgrey;
  -webkit-box-shadow: 0px 5px 0px lightgrey;
  -moz-box-shadow: 0px 5px 0px lightgrey;
  cursor: pointer;
}

.card-header {
  padding: 15px;
  background-size:cover;
  color:#000;
}

.card-header-title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.option-menu {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  width: 100%;
  opacity: 0.7;
  bottom: 5px;
  text-align: center;
}

.option-menu a {
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  color: black;
}

.option-menu a:hover {
  background-color: black;
  color: white;
  font-size: 14px;
}
  
.card:hover .option-menu {
  display: block;
}