.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 15%;
  margin: auto;
  background: white;
  text-align: center;
}

.popup-close-button {
  position: absolute;
  right: 0;
  top: 7%;
  background: white;
  margin-right: 10px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: darkgray;
}

.popup-image {
  height: 150px;
}